body { 
  margin: 0;
  font-family: sans-serif;
  background-color: #FAFAF8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);

}

header > img {
  width: 70px;
}

header > h1 {
  font-weight: 400;

}

main {
  padding: 30px 30px 10px;
}

.ingredient-input {
  display: flex;
  justify-content: center;
  
  gap: 12px;
  height: 38px;
}

.ingredient-input > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.ingredient-input > button {
  font-family: sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413 ;
  color: #fafaf8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;

}


.recipe-container {
  background-color: #f0f0f0;
  /* soft grey */
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.recipe-container div {
  display: flex;
  flex-direction: column;
}

.recipe-container h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.recipe-container p {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  color: #555;
}

.recipe-container button {
  background-color: #f3840d;
  /* dark contrast */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.recipe-container button:hover {
  background-color: #000;
}